#\\\\\\\\\\\\#
#\GIT\IGNORE\#
#\\\\\\\\\\\\#
*
!*/

# Whitelist
!.gitignore
!README.md
!bash/*
!btop/*
!fzf/*
!git/*
!hypr/*
!kitty/*
!nvim/**
!qute*/*.yml
!sh/setup_core.sh
!sh/tmpl.sh
!swaync/*
!tmux/*
!wal/colors-waybar.css
!waybar/*
!waybar/scripts/*
!wofi/*

# Blacklist
**/*~
**/*.bak
*.bak/
*.log
*.tar
*.tgz
*.tbz2
*.gz
*.bz2
*.xz
hypr/monitor.conf
