#\\\\\\\\\\\\#
#\GIT\IGNORE\#
#\\\\\\\\\\\\#
*
!*/

# Whitelist
!.gitignore
!README.md
!bash/*
!btop/*
!fzf/*
!git/*
!hypr/*
!kitty/*
!nvim/*
!qute*/*.yml
!sh/*
!tmux/*
!vim/*

# Blacklist
**/*~
**/*.bak
*.bak/
*.tar
*.tgz
*.tbz2
*.gz
*.bz2
*.xz
