#\\\\\\\\\\\\#
#\GIT\IGNORE\#
#\\\\\\\\\\\\#
*
!*/

# Whitelist
!.gitignore
!README.md
!bash/*
!btop/*
!fzf/*
!git/*
!hypr/*
!kitty/*
!nano/*
!nvim/*
!qute*/*.yml
!sh/*
!tmux/*

# Blacklist
**/*~
**/*.bak
*.bak/
