$include /etc/inputrc

set colored-stats On
set completion-ignore-case On
set completion-prefix-display-length 3
set skip-completed-text On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On
set menu-complete-display-prefix On
set page-completions On

# next tab(s) will cycle through matches
TAB: menu-complete
# shift tab cycles backward
"\e[Z": menu-complete-backward

# custom bindings/commands
"\e\177": backward-kill-word
# "\e ": "\ef\t"
"\eh": backward-word
"\el": forward-word
"\ej": next-screen-line
"\ek": previous-screen-line
"\eL": downcase-word
"\eU": upcase-word
"\eu": capitalize-word
#"\eR": revert-line
"\e,": copy-region-as-kill

$if mode=emacs

# for linux console and RH/Debian xterm
"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\e[5~": beginning-of-history
"\e[6~": end-of-history
"\e[7~": beginning-of-line
"\e[3~": delete-char
"\e[2~": quoted-insert
"\e[5C": forward-word
"\e[5D": backward-word
"\e\e[C": forward-word
"\e\e[D": backward-word
"\e[1;5C": forward-word
"\e[1;5D": backward-word

# for rxvt
"\e[8~": end-of-line

# for non RH/Debian xterm, can't hurt for RH/DEbian xterm
"\eOH": beginning-of-line
"\eOF": end-of-line

# for freebsd console
"\e[H": beginning-of-line
"\e[F": end-of-line
$endif
